@import 'tailwindcss';

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	background-color: #151515;
	letter-spacing: 0;
}

.wrapper {
	@apply flex justify-center gap-[25px] min-h-[100vh] overflow-hidden;
}

.container {
	@apply max-w-[1920px] w-[100%] px-[40px];
}

@media screen and (max-width: 1008px) {
	.container {
		@apply px-[20px];
	}
}

.headerLink {
	@apply text-white text-[14px] leading-[16.8px] tracking-[0] uppercase relative;
}

.headerLink::after {
	@apply content-[''] absolute left-0 bottom-[-6px] w-[0] h-[2px] bg-white transition-all duration-300 ease-in-out;
}

.headerLink:hover::after {
	@apply w-[100%];
}

#searchBox {
	@apply relative transition-all duration-300 ease-in-out;
}

#searchBox:hover,
#searchBox:focus-within {
	@apply bg-white;
}

#searchBox:hover img,
#searchBox:focus-within img {
	@apply invert;
}

#searchBox:hover div,
#searchBox:focus-within div {
	@apply hidden;
}

#searchBox:hover input,
#searchBox:focus-within input {
	@apply text-black;
}

#searchBox:not(:hover):not(:focus-within) input:not(:placeholder-shown) + div {
	@apply hidden;
}

#searchBox:hover #searchClear,
#searchBox:focus-within #searchClear {
	@apply text-[#131313];
}

#searchBox:hover #searchClear img,
#searchBox:focus-within #searchClear img {
	@apply invert-0;
}

.asideTitle {
	@apply text-[23.8px] leading-[28px] text-white font-[700] transition-opacity;
}

.asideTitleLink:hover {
	@apply opacity-40;
}

.asideText {
	@apply text-[15.1px] leading-[19.2px] text-white font-[400];
}

.asideBlocks {
	@apply flex flex-col;
}

#asideBlocksContainer {
	@apply flex gap-[24px] flex-col;
}

.asideBlock {
	@apply flex gap-[8px] flex-col;
}

#customMenu {
	@apply opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out;
}

#customMenu.show {
	@apply opacity-100 pointer-events-auto;
}

#customMenu > a {
	@apply p-[4px_10px] text-[14px] leading-[17px] rounded-[4px];
}

#customMenu > a:hover {
	@apply bg-[rgba(0,0,0,0.1)];
}

.linksContainer {
	@apply flex flex-col gap-[8px];
}

.linkItem {
	@apply flex gap-[8px] items-center cursor-pointer;
}

.linkItem > .imgWrapper {
	@apply rounded-[6px] bg-[#2d2d2d] w-[32px] h-[32px] flex items-center justify-center transition-colors;
}

.linkItem > .imgWrapper > img {
	@apply w-[19px] h-[19px]
}

.asideBlock:last-child > .linksContainer > .linkItem:not(:last-child) > .imgWrapper > img {
	@apply w-full h-full
}

.asideBlock:not(:last-child) > .linksContainer > .linkItem:hover > .imgWrapper,
.showMoreButton:hover > .imgWrapper{
	@apply bg-white;
}

.asideBlock:not(:last-child) > .linksContainer > .linkItem:hover > .imgWrapper > img,
.showMoreButton:hover > .imgWrapper > img{
	@apply brightness-0;
}

.hiddenLinkItem {
	@apply hidden;
}

.showMoreButton {
	@apply opacity-40;
}

.showMoreButton > .imgWrapper > img {
	@apply w-[18px] h-[8px];
}

#customSelectMenu {
	@apply p-[10px] pt-[5px] pb-[10px] bg-white rounded-[8px] shadow-md z-[10] absolute top-0 left-0 right-0 opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out;
}

#customSelectMenu.show {
	@apply opacity-100 pointer-events-auto;
}

#customSelectMenu > li {
	@apply px-[10px] my-[5px] cursor-pointer rounded-[4px];
}

#customSelectMenu > li:hover {
	@apply bg-[rgba(0,0,0,0.1)];
}

#customSelectMenu > li > a {
	@apply flex justify-between items-center no-underline text-[12px] leading-[20px];
}

#customSelectMenu > li > a > span:first-child {
	@apply text-[14px] text-black;
}

#customSelectMenu > li > a > span:last-child {
	@apply text-green-500;
}

.displayOptions {
	@apply w-[48px] h-[48px] cursor-pointer;
}

.displayOptions > img {
	@apply w-[100%] h-[100%];
}

.displayOptions[data-active='false'] {
	@apply opacity-40 transition-opacity;
}

.displayOptions[data-active='false']:hover {
	@apply opacity-60;
}

#contentContainer {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	gap: 24px;
	margin-bottom: 50px;
}

@media screen and (max-width: 1919px) {
	#contentContainer {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1439px) {
	#contentContainer {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1023px) {
	#contentContainer {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (max-width: 979px) {
	#contentContainer {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

#contentContainer[data-display='grid'] {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	gap: 24px;
}

@media screen and (max-width: 1919px) {
	#contentContainer[data-display='grid'] {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1439px) {
	#contentContainer[data-display='grid'] {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1023px) {
	#contentContainer[data-display='grid'] {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (max-width: 979px) {
	#contentContainer[data-display='grid'] {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

#contentContainer[data-display='list'] {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

#contentContainer[data-display='list'] > div {
	width: 100%;
	max-width: 600px;
}

.notWorking {
	@apply cursor-not-allowed opacity-50 pointer-events-none transition-opacity;
	@apply hover:cursor-not-allowed
}